.popup__input {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #00000033;
  margin-bottom: 34px;
}
.popup__input:last-of-type {
  margin-bottom: 53px;
}

@media screen and (max-width: 640px) {
  .popup__input {
    margin-bottom: 36px;
  }
  .popup__input:last-of-type {
    margin-bottom: 51px;
  }
}

